body{
    background-color: rgb(221, 149, 255);
    margin: 10rem;
    margin-left: 27.5rem;
}
img{
    width: 30rem;
}

.btn1{
    margin-right: 8em;
    background-color: #E839B6;
    border: white 1px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 1em;
    font-size: x-large;
    font-weight: bold;
}
.btn2{
    
    background-color: #E839B6;
    border: white 1px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 1em;
    font-size: x-large;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color: white;
}