body{
    background-color: rgb(221, 149, 255);
    margin: 15rem;
    margin-left: 27.5rem;
}
button{
    background-color: rgb(208, 0, 255);
    text-decoration: none;
    color: white;
    border: solid 1px;
    box-sizing: border-box;
    padding: 2em;
    font-size: x-large;
    font-weight: bold;
}